<mat-sidenav-container class="mat-elevation-z12">
  <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content>
      <a routerLink="">Home</a>
    </mat-sidenav-content>
    <mat-sidenav-content>
      <a routerLink="users">Users</a>
    </mat-sidenav-content>
  <mat-sidenav-content>
    <a routerLink="request">Send Request</a>
    </mat-sidenav-content>
  <mat-sidenav-content>
    <a routerLink="login">Login</a>
  </mat-sidenav-content>
  <mat-sidenav-content>
    <a routerLink="logs">Logs</a>
  </mat-sidenav-content>
  <mat-sidenav-content>
    <a routerLink="requestlist">See Requests</a>
  </mat-sidenav-content>
</mat-sidenav-container>
