mat-sidenav-container {
  width: 3cm;
  min-height: 100%;
  background-color: #383c4a;
  align-content: center;
}

mat-sidenav-content {
  width: 100%;
  font-family: Arial, serif;
  color: azure;
  alignment: center;
  float: left;
  position: sticky;
}


mat-sidenav-content a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
}
mat-sidenav-content a:hover {
  background-color: #5294e2;
}

